<h3>Sign In</h3>

<form action="/signIn" method="post">
    <label for="userName"><b>UserName</b></label>
    <input type="text" placeholder="Enter UserName">
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password">
    <input type="submit" value="Log In" class="btn">
</form>

<h3>Register Here</h3>
<form action="/register" method="post">
    <label for="userName"><b>UserName</b></label>
    <input type="text" placeholder="Enter UserName">
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password">
    <input type="submit" value="Register" class="btn">
</form>