<div class="author">
  <h1 class="author__heading">Hi, I am MiR</h1>
  <p class="author__body">Web Dev and Blockchain Enthusiast.</p>
</div>

<img
  src="/img/show.jpg"
  alt="solar eclipse"
  class="show-image"
  width="981"
  height="528"
/>

<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>
  <ul class="articles-ul">
    <% data.forEach(element => { %>
    <li>
      <a href="/post/<%= element._id %>">
        <span><%=element.title %> </span>
        <span class="articles-list__date"
          ><%= element.createdAt.toDateString() %></span
        >
      </a>
    </li>
    <% }) %>
  </ul>
  <% if (nextPage!==null) { %>
  <a href="/?page=<%= nextPage %>" class="pagination">&gt; View Older Posts</a>
  <% } %>
</section>
